<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <virtualType name="Magento\CatalogStaging\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
       <arguments>
           <argument name="modifiers" xsi:type="array">
               <item name="aht-option-all" xsi:type="array">
                   <item name="class" xsi:type="string">AHT\CustomOption\Ui\DataProvider\Product\Form\Modifier\All</item>
                   <item name="sortOrder" xsi:type="number">71</item>
               </item>
           </argument>
       </arguments>
   </virtualType>
   <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
       <arguments>
           <argument name="modifiers" xsi:type="array">
               <item name="aht-option-all" xsi:type="array">
                   <item name="class" xsi:type="string">AHT\CustomOption\Ui\DataProvider\Product\Form\Modifier\All</item>
                   <item name="sortOrder" xsi:type="number">71</item>
               </item>
           </argument>
       </arguments>
   </virtualType>
   <virtualType name="AHT\CustomOption\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
       <arguments>
           <argument name="modifiers" xsi:type="array">
           </argument>
       </arguments>
   </virtualType>
   <type name="AHT\CustomOption\Ui\DataProvider\Product\Form\Modifier\All">
       <arguments>
           <argument name="pool" xsi:type="object">AHT\CustomOption\Ui\DataProvider\Product\Form\Modifier\Pool</argument>
       </arguments>
   </type>
   <virtualType name="AHT\CustomOption\Ui\DataProvider\Product\Form\Modifier\Pool">
       <arguments>
           <argument name="modifiers" xsi:type="array">
               <item name="aht-option-base" xsi:type="array">
                   <item name="class" xsi:type="string">AHT\CustomOption\Ui\DataProvider\Product\Form\Modifier\Base</item>
                   <item name="sortOrder" xsi:type="number">72</item>
               </item>
           </argument>
       </arguments>
   </virtualType>
</config>